<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>FILEPATH</th>
        <th>SIZE</th>
        <th>DATE</th>
        <th>CAMERANAME</th>
        <th>VIDEOTYPE</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="videos" type="reactor.core.publisher.Flux<com.artarkatesoft.rsocketserver.data.Video>"*/-->
    <tr th:each="video : ${videos}">
        <td th:text="${video.fileName}">name</td>
        <td th:text="${video.filePath}">filePath</td>
        <td th:text="${video.size}">size</td>
        <td th:text="${video.date}">date</td>
        <td th:text="${video.cameraName}">cameraName</td>
        <td th:text="${video.videoType}">videoType</td>
    </tr>
    </tbody>
</table>

</body>
</html>